* {
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: "Open Sans", sans-serif;
}

.container-75 {
  width: 75%;
  margin: auto;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

/* Header */
header {
  height: 100vh;
}

.header-top {
  height: 50px;
  line-height: 50px;
  font-size: 0.7rem;
  font-weight: 700;
  width: 100%;
  background-color: #fff;
  position: fixed;
  z-index: 1;
}

.header-top .helbiz-logo img {
  width: 80px;
  height: auto;
}

/* Barra di navigazione */
.main-nav,
.side-nav {
  text-align: right;
  list-style: none;
}

.main-nav ul li,
.side-nav ul li {
  display: inline-block;
}

.main-nav ul li a,
.side-nav ul li a {
  text-decoration: none;
  color: #000;
  padding-left: 30px;
}

.side-nav .language-select {
  border-right: 1px solid #000;
  border-left: 1px solid #000;
  padding: 0 10px;
}

.side-nav .btn {
  margin-left: 10px;
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  font-weight: 700;
}

@media screen and (max-width: 992px) {
  .header-top > .container-75 {
    width: 100%;
    padding: 0 15px;
  }

  .header-top > .container-75 > .option-bars {
    display: block;
    text-align: right;
    font-size: 1rem;
  }

  .header-top > .container-75 > .option-bars a {
  text-decoration: none;
  color: #000;
  }
}

/* fine barra di navigazione*/
/* Jumbotron */
.jumbotron {
  position: relative;
  background-image: url(../img/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 50px);
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5)
}

.jumbotron-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  width: 80%;
}

.jumbotron-text h1 {
  font-size: 250%;
}

.jumbotron-text p {
  margin-top: 10px;
  font-weight: 700;
  font-size: 100%;
}
/* fine Jumbotron */
/* fine header */

/* Main */
/* Sezione bici sfondo grigio */
section.bikes {
  text-align: center;
}

.bikes > [class*="helbiz"] {
  background-color: #FAFAFA;
}

.helbizgo-logo {
  width: 70%;
  margin: auto;
}

.helbizgo-logo img {
  max-width: 70%;
  height: auto;
}

.bikes p {
  font-size: 110%;
  padding: 30px 0;
}

.bikes a {
  text-decoration: none;
  color: #0099e6;
  font-size: 110%;
}

.bikes i {
  padding: 0 5px;
}

.bikes .box-image {
  max-width: 100%;
  height: auto;
  max-height: 400px;
}

@media screen and (min-width: 769px) {
  section.bikes {
    padding: 60px 0;
  }

  .bikes > [class*="helbiz"] {
    width: calc(95% / 2);
    padding: 90px 20px 30px 20px;
  }
  .bikes .helbizbike {
    margin-left: 5%;
  }
}

@media screen and (max-width: 768px) {
  section.bikes {
    padding: 10px 0;
  }

  .bikes > [class*="helbiz"] {
    padding: 20px 10px;
    margin-top: 20px;
  }
}
/* Fine sezione bici sfondo grigio */

/* Sezione steps con phone frame */
  section.steps {
    height: 700px;
  }

  .steps .street-man {
    height: 70%;
    background-image: url(../img/old-man.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 40% 50%;
    position: relative;
  }

  .steps .street-man img {
    width: 20%;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 35%);
    background-color: #fff;
    border-radius: 40px;
  }

  .steps .text {
    height: 30%;
  }
/* Fine sezione steps con phone frame */

/* Fine main */
