* {
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: "Open Sans", sans-serif;
}

.container-75 {
  width: 75%;
  margin: auto;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

/* Header */
header {
  height: 100vh;
}

.header-top {
  height: 50px;
  line-height: 50px;
  font-size: 0.7rem;
  font-weight: 700;
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 1;
}

.header-top .helbiz-logo img {
  max-width: 100%;
  height: auto;
}

/* Barra di navigazione */
.main-nav,
.side-nav {
  text-align: right;
  list-style: none;
}

.main-nav ul li,
.side-nav ul li {
  display: inline-block;
}

.main-nav ul li a,
.side-nav ul li a {
  text-decoration: none;
  color: #000;
  margin-left: 20px;
}

.side-nav .language-select {
  border-right: 1px solid #000;
  border-left: 1px solid #000;
  padding: 0 10px;
}

.side-nav .btn {
  margin-left: 10px;
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  font-weight: 700;
}

@media screen and (max-width: 992px) {
  .header-top > .container-75 {
    width: 100%;
    padding: 0 15px;
  }

  .header-top .helbiz-logo img {
    max-width: 50%;
    height: auto;
  }

  .header-top > .container-75 > .option-bars {
    display: block;
    text-align: right;
    font-size: 1rem;
  }

  .header-top > .container-75 > .option-bars a {
  text-decoration: none;
  color: #000;
  }
}
/* fine barra di navigazione*/

/* Jumbotron */
.jumbotron {
  position: relative;
  background-image: url(../img/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 50px);
}

.jumbotron .overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7)
}

.jumbotron-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  width: 80%;
}

.jumbotron-text h1 {
  font-size: 250%;
}

.jumbotron-text p {
  margin: 20px 0;
  font-weight: 700;
  font-size: 100%;
}

.appstore {
  width: 100%;
}

.appstore .google,
.appstore .apple {
  width: calc(35% / 2);
  float: left;
}

.appstore .google {
  margin-left: 30%;
}

.appstore .apple {
  margin-left: 5%;
  margin-right: 30%;
}

.appstore a img {
  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  .appstore .google,
  .appstore .apple {
    width: calc(65% / 2);
  }

  .appstore .google {
    margin-left: 15%;
  }

  .appstore .apple {
    margin-left: 5%;
    margin-right: 15%;
  }

  .appstore a img {
    max-width: 70%;
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  .appstore .google,
  .appstore .apple {
    width: calc(85% / 2);
  }

  .appstore .google {
    margin-left: 5%;
  }

  .appstore .apple {
    margin-left: 5%;
    margin-right: 5%;
  }

  .appstore a img {
    max-width: 70%;
    height: auto;
  }

}
/* fine Jumbotron */
/* fine header */

/* Main */
/* Sezione bici sfondo grigio */
section.bikes {
  text-align: center;
}

.bikes > [class*="helbiz"] {
  background-color: #FAFAFA;
}

.helbizgo-logo {
  width: 70%;
  margin: auto;
}

.helbizgo-logo img {
  max-width: 70%;
  height: auto;
}

.bikes p {
  font-size: 110%;
  padding: 30px 0;
}

.bikes a {
  text-decoration: none;
  color: #0099e6;
  font-size: 110%;
}

.bikes i {
  padding: 0 5px;
}

.bikes .box-image {
  max-width: 100%;
  height: auto;
  max-height: 400px;
}

@media screen and (min-width: 769px) {
  section.bikes {
    padding-bottom: 40px;
  }

  .bikes > [class*="helbiz"] {
    width: calc(95% / 2);
    padding: 90px 20px 30px 20px;
  }
  .bikes .helbizbike {
    margin-left: 5%;
  }
}

@media screen and (max-width: 768px) {
  section.bikes {
    padding: 10px 0;
  }

  .bikes > [class*="helbiz"] {
    padding: 20px 10px;
    margin-top: 20px;
  }
}
/* Fine sezione bici sfondo grigio */

/* Sezione steps con phone frame */
  section.steps {
    height: 700px;
  }

  .steps .street-man {
    height: 70%;
    background-image: url(../img/old-man.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 40% 50%;
    position: relative;
  }

  .steps .street-man img {
    width: 20%;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 35%);
    background-color: #fff;
    border-radius: 40px;
  }

  .steps .text {
    height: 30%;
    padding: 40px;
  }

  .steps .text h2 {
    font-size: 200%;
  }

  .steps .text h4 {
    font-size: 130%;
    padding-right: 30px;
  }

  .steps .text p {
    font-size: 110%;
    margin-top: 10px;
  }

  @media screen and (max-width: 992px) {
    .steps .street-man {
      height: 60%;
      background-position: 30% 50%;
    }
    .steps .street-man img {
      border-radius: 30px;
    }
  }
/* Fine sezione steps con phone frame */
/* Sezione box colorati */
.smart-mobility {
  height: 500px;
  position: relative;
  background-image: url(../img/scooter-grass.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 3%;
}

.smart-mobility .overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
}

.smart-mobility .text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
}

.smart-mobility .text h2 {
  font-size: 270%;
  line-height: 3rem;
}

.smart-mobility .text p {
  font-size: 120%;
  margin: 20px 0;
}

.smart-mobility .text a {
  text-decoration: none;
  font-size: 120%;
  color: #fff;
}

.get-app,
.globe {
  width: calc(97% / 2);
  height: 700px;
  float: left;
  text-align: center;
  position: relative;
}

.get-app {
  margin-right: 3%;
  background-image: linear-gradient(to bottom, #415569, #263039);
}

.get-app img {
  width: 50%;
  height: auto;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  .get-app,
  .globe {
    height: 600px;
  }

  .get-app img {
    width: 80%;
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  .get-app,
  .globe {
    height: 500px;
  }

  .get-app img {
    width: 40%;
    height: auto;
  }

  .globe {
    margin-top: 3%;
  }
}

.get-app .text,
.globe .text {
  width: 70%;
  margin: 15% auto 0 auto;
  color: #fff;
}

.get-app .text h2,
.globe .text h2 {
  font-size: 270%;
  line-height: 3rem;
  margin-bottom: 20px;
}

.get-app .text a,
.globe .text a {
  text-decoration: none;
  font-size: 120%;
  color: #fff;
}

.globe {
  background-image: url(../img/city.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}
/* fine sezione box colorati */
/* Fine main */
